<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Check Your Calculus - Delta Epsilon Proofs</title>
      <script type="text/javascript"
  src="https://www.maths.nottingham.ac.uk/plp/pmadw/LaTeXMathML.js">
  </script>
</head>
<body>
Derivatives page. For now, this will just output the equation back in LaTeX
<blockquote>$\displaystyle{{ equation }}$</blockquote>
<form method="POST">
    <input name="text">
    <input type="submit">
</form>
<hr>
<ul>
    <li><a href="/">Click here</a> to go back to the main page.</li>
<li>LaTeXMathML provided by: <a href="https://www.maths.nottingham.ac.uk/plp/pmadw/lm.html">https://www.maths.nottingham.ac.uk/plp/pmadw/lm.html</a></li>
</ul>
<hr>
</body>
</html>