<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Check Your Calculus</title>
</head>
<body>
<hr>
<h1>Check Your Calculus</h1>
For those taking MATA31 and MATA37/MAT137 at the University of Toronto.
<hr>
<h2>Table of Contents</h2>
<ul>
<!--    <li><a href="deltaepsilon">Delta Epsilon Proofs</a></li>-->
<!--    <li><a href="SqueezeTheorem">Squeeze Theorem</a></li>-->
    <li><a href="derivatives">Derivatives</a></li>
<!--    <li><a href="Integrals">Integrals</a></li>-->
<!--    <li><a href="Sequences">Sequences</a></li>-->
<!--    <li><a href="Series">Series</a></li>-->
</ul>
<hr>
<h3>Project Information</h3>
<ul>
<li>Repository Website: <a href="https://github.com/jangarong/CheckYourCalculus">https://github.com/jangarong/CheckYourCalculus</a></li>
<li>Author's Website: <a href="https://jangarong.github.io/">https://jangarong.github.io/</a></li>
</ul>
This is a work in progress... check our repository for updates!
<hr>
</body>
</html>